header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

section {
  padding: 80px 0;
}

a, .acc_trigger, .info {
  color: #5a8241;
  font-weight: normal
}

a:hover, .acc_trigger:hover, .info:hover {
  color: #6314CC;
}

.bg-primary {
  background-color: #5a8241 !important
}

.acc {
  display: inline;
  color: #6314CC;
}

.info:hover {
  text-decoration: underline;
}

.ui-draggable, .ui-droppable {
  background-position: top;
}

#wip a::after, #published a::after {
  content: url(../files/pictures/pdf.png);
}

ul li {
  padding: 5px 0;
}

ul ul li {
  padding: 2px 0;
}

ul ul {
  list-style: none;
  font-size: 90%;
  padding: 5px 30px 0px 30px;
}

a.paper, .title {
  font-weight: bold
}

.info::before, .acc_trigger::before {
  content: "\2192 "
}

.cit-bibtex>pre {
  margin-bottom: 0;
  margin-top: 5px;
  margin-left: -9em;
  overflow: initial;
}
