* {
  line-height: 20px;
}

header {
  padding: 8rem 0 4rem;
}

@media (min-width: 992px) {
  header {
    padding: 8rem 0 4rem;
  }
}

section {
  padding: 2rem 0 1rem 0;
}

h2.sectitle {
  margin-bottom: 2rem;
}

h2.sectitle a {
	vertical-align: middle;
}

.sectitle.pdf {
	margin-left: -1.4rem;
}

#cv {
	padding: 2rem 0 0 0;
}

a, .acc_trigger, .info {
  color: #5a8241;
  font-weight: normal
}

a:hover, .acc_trigger:hover, .info:hover {
  color: #6314CC;
}

.bg-primary {
  background-color: #5a8241 !important
}

.acc {
  display: inline;
  color: #6314CC;
}

.info span:hover {
  text-decoration: underline;
}

.ui-draggable, .ui-droppable {
  background-position: top;
}

.pdfli::marker, .pdf::before {
  content: url(../files/pictures/pdf.png);
}

.codeli::marker {
  content: url(../files/pictures/code.png);
}

.spacepdf {
  margin-left: 1.1rem;
}

.spacepdf .title {
	padding-left: .5ex;
}

li.post ul li {
  padding: 0.125rem 0;
  margin-top: 0.25rem;
}

li.post > ul {
	list-style: none;
	font-size: 90%;
	padding: .25rem 0rem 1rem 1.25rem;
}

li.post {
  margin-bottom: 1rem;
  padding-left: .5ex;
}
.paper, .title {
  font-weight: bold
}

.footwrap {
  padding-left:2rem;
  font-size: 115%;
}
span.paper {
	color: #5a8241
}

.info::before, .acc_trigger::before {
  content: "\2192 "
}
.info span:hover {
  text-decoration: underline;
}

.cit-bibtex code, .cit-text code {
  color: inherit;
  background-color: #f4fbf5;
  border: 1px solid #999;
  display: block;
  padding: .5rem;
  margin: .25rem 0;
  overflow: scroll;
}

.cit-bibtex pre {
  margin: 0;
}

.bg-light {
  background-color: #f4fbf5!important;
}

.bg-light .cit-bibtex code, .bg-light .cit-text code {
  background-color: #fcfffc !important;
}

#contact .lead {
	line-height: 1.5rem;
}
