---
layout: default
---

{% assign trimauthor = page.author | replace: '{', '' | replace: '}', '' %}
{% assign authorarray = trimauthor | split: ' and ' %}
{%- if authorarray.size > 1 -%}
  {%- capture trimauthor -%}
   {{ authorarray[0] }}
  {%- for author in authorarray offset:1 -%}
    , {% if forloop.last == true %} and {% endif -%} {{ author }}
  {%- endfor -%}
  {%- endcapture -%}
{% endif %}

{% assign trimeditor = page.editor | replace: '{', '' | replace: '}', '' %}
{% assign editorarray = trimeditor | split: ' and ' %}
{%- if editorarray.size > 1 -%}
  {%- capture trimeditor -%}
   {{ editorarray[0] }}
  {%- for author in editorarray offset:1 -%}
    , {% if forloop.last == true %} and {% endif -%} {{ author }}
  {%- endfor -%}
  {%- endcapture -%}
{% endif %}

{% assign spliturl = page.url | split: '/' %}
{% assign bibpostname = spliturl[1] | replace: '.html', '' %}
{% capture bibpostname %}{{ bibpostname }}{{ page.date | date: '-%Y' }}{% endcapture %}

{%- if page.month -%}
  {% assign month = ' ' | append: page.month %}
{%- elsif page.month != false -%} 
  {% assign month = page.date | date: ' %B ' %}
{%- endif -%}

<div class="wrapper">
  {% include navbar.html %}

  <article itemscope itemtype="http://schema.org/BlogPosting">

<header class="bg-primary text-white">
  <div class="container">
    <h2>
    {{ page.title }}
    </h2>
    
    {%- if page.type == "incollection" -%}
      {%- if page.pdfurl -%}
        <a class="pdf text-white" href= {{ page.pdfurl }} target="_blank">
          <i>{{ page.booktitle }}</i>
        </a>
      {%- else -%}
        <i>{{ page.booktitle }}</i>
      {%- endif -%}
      {%- if page.volume %}
        Vol. {{ page.volume}}
      {%- endif -%},
      {{ page.publisher }},
    {%- else -%}
      {%- if page.pdfurl -%}
        <a class="pdf text-white" href= {{ page.pdfurl }} target="_blank">
          <i>{{ page.journal }}</i>
        </a>
     {%- else -%}
      <i>{{ page.journal }}</i>
    {%- endif -%}     
      {%- if page.volume %} {{ page.volume }}{%- endif -%}
      {%- if page.number -%} ({{ page.number }}){%- endif -%},
    {% endif %}
    {%- if page.nocite != true -%}
      {% if page.month != false -%} {{ month }} {%- endif %}
      {{ page.date | date: ' %Y ' }}
    {%- endif -%}
    {{ page.shortauthor }}
    
  </div> 
</header>
 
<section>
 <div class="container">

   <ul class="postpage"> 
      {{ page.content }}
   
    {% if page.nocite != true %}
      <li class="acc_hide"> <!-- citation -->
        <div class="title">Citation<span class="acc_trigger"><span class="info">BibTeX</span></span>
        </div>
        <div class="cit-text">
          <code>
            {{ trimauthor }}. "{{ page.title }},"
            {% if page.type == "incollection" -%}
              in {{ trimeditor }}, editors: {{ page.booktitle }},
              {%- if page.volume %} Vol. {{ page.volume}}, {%- endif -%}
              {% if page.chapter %} Ch. {{ page.chapter }}, {% endif -%}
              {{ page.publisher }}, {{ page.date | date: ' %Y ' }}
            {% else -%}
              {{ page.journal }} {{ page.volume }}
              {%- if page.number -%}
              ({{ page.number }})
              {%- endif -%},
              {% if page.pages -%}
              pp. {{ page.pages }},
              {%- endif -%}
              {% if page.month != false -%} {{ month }} {%- endif %}
              {{ page.date | date: ' %Y' }}
            {%- endif -%}
          </code>
        </div>
        <div class="cit-bibtex">
          <code>

<pre>@{{ page.type }}{{ '{' }}{{ bibpostname }},
    title = "{{ page.title }}",
    author = "{{ page.author }}",
    year = "{{ page.date | date: '%Y' }}",
    {%- if page.month != false %}
    month = "{{ month }}",
    {%- endif %}
{%- if page.type == "incollection" %}
    editor = " {{ page.editor }}",
    booktitle = " {{ page.booktitle }}",
    publisher = "{{ page.publisher }}",
    chapter = "{{ page.chapter }}",
{%- else %}
    journal = "{{ page.journal | replace: '&', '\\&' }}",
    {%- if page.number %}
    number = "{{ page.number }}",
    {%- endif -%}
{%- endif %}
    {%- if page.volume %}
    volume = "{{ page.volume }}",
    {%- endif %}
    {%- if page.pages %}
    pages = "{{ page.pages }}",
    {%- endif %}
    url = "{{ page.pdfurl }}"
}</pre>
          </code>
        </div>
      </li> <!-- end citation -->
    {%- endif %}
  </ul>
</li>
  
  
  </div> 
<section>  
</article>  
 
aaa
    {% include article.html %}
aaa
  
  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

</div>
