---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

<!--
  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | .date: date_format }}
        </time>
      {%- endif -%}
      {%- if page.author -%}
        • {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>
-->
  
{% assign trimauthor = author | replace: '{', '' | replace: '}', '' %}
{% assign authorarray = trimauthor | split: ' and ' %}
{%- if authorarray.size > 1 -%}
  {%- capture trimauthor -%}
   {{ authorarray[0] }}
  {%- for author in authorarray offset:1 -%}
    , {% if forloop.last == true %} and {% endif -%} {{ author }}
  {%- endfor -%}
  {%- endcapture -%}
{% endif %}

{% assign trimeditor = editor | replace: '{', '' | replace: '}', '' %}
{% assign editorarray = trimeditor | split: ' and ' %}
{%- if editorarray.size > 1 -%}
  {%- capture trimeditor -%}
   {{ editorarray[0] }}
  {%- for author in editorarray offset:1 -%}
    , {% if forloop.last == true %} and {% endif -%} {{ author }}
  {%- endfor -%}
  {%- endcapture -%}
{% endif %}

{% assign spliturl = url | split: '/' %}
{% assign bibpostname = spliturl[4] | replace: '.html', '' %}
{% capture bibpostname %}{{ bibpostname }}{{ date | date: '-%Y' }}{% endcapture %}

{%- if month -%}
  {% assign month = ' ' | append: month %}
{%- elsif month != false -%} {% assign comment = 'needed to make sure month isn't missing and set to false' %}
  {% assign month = date | date: ' %B ' %}
{%- endif -%}

{%- if pdfurl -%}
<li class="pdfli post">
  <a class="paper" href= {{ pdfurl }} target="_blank">
    {{ title }}
  </a>
{%- else -%}
<li class="post">
  <span class="paper">{{ title }}</span>
{%- endif -%}
  <ul>
    <li>
      {%- if type == "incollection" -%}
        <i>{{ booktitle }}</i>
        {%- if volume %}
          Vol. {{ volume}}
        {%- endif -%},
        {{ publisher }},
      {%- else -%}
        <i>{{ journal }}</i>
        {%- if volume %} {{ volume }}{%- endif -%}
        {%- if number -%} ({{ number }}){%- endif -%},
      {% endif %}
      {%- if nocite != true -%}
        {% if month != false -%} {{ month }} {%- endif %}
        {{ date | date: ' %Y ' }}
      {%- endif -%}
      {{ shortauthor }}
    </li>

    <li class="info"><span class="info">More info...</span></li>
    <!-- hidden items -->
    {{ content }}
    {% if nocite != true %}
      <li class="acc_hide"> <!-- citation -->
        <div class="title">Citation<span class="acc_trigger"><span class="info">BibTeX</span></span>
        </div>
        <div class="cit-text">
          <code>
            {{ trimauthor }}. "{{ title }},"
            {% if type == "incollection" -%}
              in {{ trimeditor }}, editors: {{ booktitle }},
              {%- if volume %} Vol. {{ volume}}, {%- endif -%}
              {% if chapter %} Ch. {{ chapter }}, {% endif -%}
              {{ publisher }}, {{ date | date: ' %Y ' }}
            {% else -%}
              {{ journal }} {{ volume }}
              {%- if number -%}
              ({{ number }})
              {%- endif -%},
              {% if pages -%}
              pp. {{ pages }},
              {%- endif -%}
              {% if month != false -%} {{ month }} {%- endif %}
              {{ date | date: ' %Y' }}
            {%- endif -%}
          </code>
        </div>
        <div class="cit-bibtex">
          <code>

<pre>@{{ type }}{{ '{' }}{{ bibpostname }},
    title = "{{ title }}",
    author = "{{ author }}",
    year = "{{ date | date: '%Y' }}",
    {%- if month != false %}
    month = "{{ month }}",
    {%- endif %}
{%- if type == "incollection" %}
    editor = " {{ editor }}",
    booktitle = " {{ booktitle }}",
    publisher = "{{ publisher }}",
    chapter = "{{ chapter }}",
{%- else %}
    journal = "{{ journal | replace: '&', '\\&' }}",
    {%- if number %}
    number = "{{ number }}",
    {%- endif -%}
{%- endif %}
    {%- if volume %}
    volume = "{{ volume }}",
    {%- endif %}
    {%- if pages %}
    pages = "{{ pages }}",
    {%- endif %}
    url = "{{ pdfurl }}"
}</pre>
          </code>
        </div>
      </li> <!-- end citation -->
    {%- endif %}
  </ul>
</li>
  
  
  
  
  
  
  
  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
